/* zakladni  rozdeleni stranky */
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  flex: 0 1 30px;
}

.box .row.header {
    flex: 0 1 auto;
    padding: 15px;
    padding-left: 200px;
}

.box .row.content {
  flex: 1 1 auto;
  flex-flow: row;
  display: flex;
}

.box .row.footer {
  flex: 0 1 auto;
}

.left {
  flex: 1 1 auto;
}

.right {
  flex: 0 1 400px;
  padding: 20px;
}

.right label {
  font-size: x-large;
}

p {
    text-align: justify;
}


/* logo */
.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
}


/* menu nahore */
.header a {
    box-shadow: 5px 5px 2px #444;
    border-radius: 0px 0px 5px;
    padding: 3px;
    margin: 10px;
    text-decoration: none;
}
.header a:hover {
    box-shadow: 4px 4px 5px #ccc;
    padding: 3px;
}
