<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Chytrá čtvrť - Nový Lískovec{% endblock %}</title>
{% block head %}
<link href='/css/site.css' rel='stylesheet' type='text/css'>
<link href='/leaflet.css' rel='stylesheet' type='text/css'>
<script src="/jquery-2.2.3.min.js"></script>
<script src="/leaflet.js"></script>
<script src="/map.js"></script>
{% endblock %}
</head>

<body>
<div class="logo">
    <a href="/">
        <img src="static/logo.png" width="75" height="145" alt="Nový Lískovec - Chytrá čtvrť" title="Nový Lískovec - Chytrá čtvrť">
    </a>
</div>

<div class="box">
  <div class="row header">
	<a href="/oprojektu">O projektu</a>
	<a href="/mapa">Mapa</a>
	<a href="/okoli">Zlepšit mé okolí</a>
	<a href="/spolecnost">Vzájemná výpomoc</a>
	<a href="/domy">Domy</a>
	<a href="/mimoradne">Mimořádné události</a>
	<a href="/kontakt">Kontakt</a>

    <a href="" style="aposition: absolute; right: 0px;">Přihlášení</a>
    <a href="" style="aposition: absolute; right: 0px;">Registrace</a>
  </div>

{% block content %}
  <div class="row content">
    <div class="left" id="map">
    </div>

<script>
var map = L.map('map', { zoomControl: false }).setView([49.1791, 16.5554], 15);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

new L.Control.Zoom({ position: 'topright' }).addTo(map);
</script>

    <div class="right">
{% block yield %}
    <h1>Welcome to Flask on OpenShift</h1>
{% endblock %}

    </div>
  </div>
{% endblock %}

  <div class="row footer">
  </div>
</div>


</body>
</html>
