{% extends 'application.html' %}

{% block title %}{{ super() }} - domy{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <div class="row content">
    <div class="left">
    </div>

    <div class="center">

<h2>Domy</h2>

<div class="inzerat in0"></div>
<div class="inzerat in1"></div>
<div class="inzerat in2"></div>
<div class="inzerat in3"></div>
<div class="inzerat in4"></div>
<div class="inzerat in5"></div>
<div class="inzerat in6"></div>
<div class="inzerat in7"></div>
<div class="inzerat in8"></div>
<div class="inzerat in9"></div>

    </div>

    <div class="left">
    </div>
  </div>
{% endblock %}
