<form action="/mapa" method="post">
<h2>Zde můžete vytvořit profil vašeho podniku</h2>

Název<br>
<input name="title"><br>
Poloha<br>
<input name="coord" disabled><br>
Adresa<br>
<input name="addr"><br>
Otevírací doba<br>
<textarea name="open" rows="6" cols="50">
Po 
Út 
St 
Čt 
Pá 
So 
Ne </textarea><br>
<br>
Váš podnik prověříme, nechte nám prosím kontakt a my vám dáme vědět, jak to dopadlo<br>
<br>
Email<br>
<input name="contact"><br>

<input type="submit" value="Odeslat" style="position: absolute; bottom:20px; right: 20px">
</form>

