{% extends 'application.html' %}

{% block title %}{{ super() }} - kontakt{% endblock %}

{% block head %}
{{ super () }}
{% endblock %}

{% block content %}
  <div class="row content">
    <div class="left">
    </div>

    <div class="right">

<h2>Kontakt</h2>
<p>
e-mail: <a href="mailto:smartliskovec@gmail.com">smartliskovec@gmail.com</a>
<p>
telefon: +420 721 755 665


<h2>Realizační tým</h2>

<p>
Vedoucí projektu: Veronika Stejskalová
<p>
Koordinátor projektu: Lenka Miksová
<p>
Hlavní grafik: Nikola Křídová
<p>
Pomocný grafik: Ondřej Trochta
<p>
Hlavní textař: Martin Vérteši
<p>
Pomocný textař: Peter Sadel
<p>
Finanční analytik: David Šimek

    </div>

    <div class="left">
    </div>
  </div>
{% endblock %}
