{% extends 'application.html' %}

{% block title %}{{ super() }} - kontakt{% endblock %}

{% block head %}
{{ super () }}
{% endblock %}

{% block content %}
  <div class="row content">
    <div class="left">
    </div>

    <div class="right">

<h2>Projekt Muniss</h2>

<p>
<a href="http://muniss.cz/">http://muniss.cz/</a>

<h2>O projektu</h2>
<p>
Jsme skupina studentů ze třech vysokých škol v Brně (Masarykova univerzita, Mendelova univerzita a Vysoké učení technické). Do projektu Muniss jsme se přihlásili, abychom mohli přispět ke změně v městské čtvrti a zlepšili podmínky života obyvatel města Brna. Těžištěm projektu se pro nás stali obyvatelé Nového Lískovce, které jsme zapojili do jedné z vizí fungování Smart City. Internetová stránka nabízí využití různých služeb z pohodlí domova i v terénu. Propojuje samotné obyvatele a zapojuje do nejrůznějších aktivit. Projekt je zaměřen na vzájemnou výpomoc, ohleduplnost a především zvýšení informovanosti. Navazuje na plánované projekty radnice městské čtvrti a je možné ho přenést a rozvíjet v dalších čtvrtích města Brna.

    </div>

    <div class="left">
    </div>
  </div>
{% endblock %}
