{% extends 'application.html' %}

{% block title %}{{ super() }} - interaktivní mapa{% endblock %}

{% block head %}
{{ super () }}
{% endblock %}

{% block yield %}
<h1>Fitcentrum Kameňák</h1>

<p>
<b>Adresa</b>: Oblá 469/51c, 624 00 Brno
<p>
<b>Otvírací doba</b>:
<table>
<tr><td>Po - Pá<td>8:30–21:00
<tr><td>So<td>zavřeno
<tr><td>Ne<td>16:00–21:00
</table>
<p>
<b>Telefon</b>: +420 777 551 104
<p>
<b>E-mail</b>: o.s.fitkokamenak@gmail.com
<p>
<b>Web</b>: <a href="http://www.fitko.cz/">http://www.fitko.cz/</a>

<script>
var cIcon = L.icon({ iconUrl: 'markers/fitcentrum.png', shadowUrl: 'images/marker-shadow.png', iconSize:     [25, 41], shadowSize:   [41, 41], iconAnchor:   [12, 40], shadowAnchor: [12, 40], popupAnchor:  [9, -42] });
marker = new L.marker([49.17597, 16.55525], {icon: cIcon});
marker.addTo(map);
map.setView(new L.LatLng(49.17597, 16.55525), 16);
</script>
{% endblock %}
