{% extends 'application.html' %}

{% block title %}{{ super() }} - vzájemná výpomoc{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block yield %}
Společnost
{% endblock %}

{% block content %}
  <div class="row content">
    <div class="left">
    </div>

    <div class="center">

<h2>Vzájemná výpomoc</h2>

<div class="inzerat in0"></div>
<div class="inzerat in1"></div>
<div class="inzerat in2">Dobrý den,<br>potřeboval bych půjčit sekačku...<br><br><br><br><br><br><br><br><br>více informací...</div>
<div class="inzerat in3"></div>
<div class="inzerat in4"></div>
<div class="inzerat in5"></div>
<div class="inzerat in6"></div>
<div class="inzerat in7">Ahoj,<br>naučím háčkovat a plést...<br><br><br><br><br><br><br><br><br>více informací...</div>
<div class="inzerat in8"></div>
<div class="inzerat in9"></div>

    </div>

    <div class="left">
    </div>
  </div>
{% endblock %}
